@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
}
body, html{
 
    background-color: black;
}
header{
    position: fixed;
    width: 100%;
    height: 6rem;
    background-color: black;
    margin-top: 0;
    z-index: 10;
    box-shadow: 3px 3px 7px rgb(93, 93, 93);
}
.navbar ul li a{
    color:rgb(179, 179, 179);
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
}
.navbar img{
    width: 8rem;
}
.top .navbar{
    padding: 0rem 4rem 1rem;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    margin-top: -2rem;
}
.top .navbar li{
    display: inline-block;
} 
.top .navbar li:not(:last-of-type){ 
    margin-right: 7rem;
}
.top .navbar a{
    display: inline-block;
    padding: 1rem;
}  
.top .navbar a:hover{
    color: rgb(255, 255, 255);
} 
.header .headerl h1{
    color: #00ff08;
    font-family: 'Montserrat';
    font-size: 3rem;
    position: absolute;
    margin-top: 10rem;
    margin-left: 1rem;
}
.header .headerl p{
    color: white;
    font-family: 'Poppins';
    font-size: 1rem;
    position: absolute;
    margin-top: 19rem;
    margin-left: 2rem;

}
.headerl .btn{
    width: 8rem;
    height: 3rem;
    background-color: #00ff08;
    position: absolute;
    top: 26rem;
    text-align: center;
    align-items: center;
    margin-left: 3rem;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;    
    font-family: 'Montserrat';
    font-weight: bold;
    transition: 0.6s;
    
}
.headerl .btn:hover{
    width: 8.5rem;
    height: 3.5rem;
}
.headerr .euzin{
    top: 10rem;
    margin-left: 66%;
    position: absolute;
    width: 15rem;
    height: 25rem;
    background-image: repeating-linear-gradient(45deg, #00ff08, #ffffff 5px, transparent 5px, transparent 10px);
}